body {
	background: rgb(41, 40, 40);
    color: white;
	font-size:25px;
	line-height: 35px;
}
p {
	text-align: center;
}
h1 {
    margin-top: 200px;
    text-align: center;
	font-size: 50px;
}	
a {
    text-decoration:none;
    padding:0 10px;
	display:block;	
	color:white;
	font-size:20px;
	line-height: 60px;
}
nav {
    background-color: orangered;
	margin: 50px 0;
}
ul li {
	display:inline-block;
	background-color: orangered;
}
ul {
    position: relative;
    list-style: none;
    padding: 0;
}	

nav ul li:hover > ul {
	display:inherit;
}	
nav a:hover { 
	background-color: black; 
}
nav ul ul {
    position: absolute; 
    top: 60px; 
	display: none;
}
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}